.faq {
  max-width: 1064px;
  margin: 0 auto;
  padding: 24px;
  width: 100%;

  &__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
}

.item {
  overflow: hidden;
  position: relative;

  &:not(:only-of-type):not(:first-of-type) {
    border-top: 1px solid #ddd;
  }

  &__question {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    justify-content: space-between;
    outline: none;
    padding: 24px 16px;
    text-align: left;
    user-select: none;
    width: 100%;
  }

  &__answer {
    font-size: 20px;
    font-weight: normal;
    max-height: 0;
    padding: 0 24px;
    transition: max-height 500ms ease;
  }

  &__description {
    padding: 16px 0 32px;
    text-align: left;
  }
}

.collapsed {
  max-height: 200px;
  transition: max-height 500ms ease;
}
