@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --primary-color: #583af0;
  --secondary-color: #85cc4b;
  --button-hover: #555;
}

body {
  color: var(--text-color);
}

main {
  background-color: #6552ff;
  background-image: linear-gradient(109.78deg, #6df2f2 15.67%, #8e84fd 86.57%);
  position: relative;
}

iframe {
  width: 100%;
}
