@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --primary-color: #583af0;
  --secondary-color: #85cc4b;
  --button-hover: #555;
}

body {
  color: var(--text-color);
}
